/* NAVBAR */

.navbar {
  display: flex;
  background-color: black;
  width: 100%;
  height: 56px;
  position: sticky;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-half {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding-right: 75px;
}

.nb-header {
  text-decoration: none;
  color: white;
}

.nb-header:hover {
  color: lightgray;
}

#img-book {
  width: 50px;
  margin-left: 30px;
}

/* POSTS */

.card-section {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 25px;
}

.latest-posts {
  display: flex;
  flex-direction: column;
}

.card-row {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.card {
  background-color: black;
  border-radius: 9px;
  height: 350px;
  width: 521px;
  text-decoration: none;
}

.mini-card-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 521px;
}

.mini-card {
  background-color: black;
  border-radius: 9px;
  height: 70px;
  text-decoration: none;
}

.card-text {
  color: white;
  text-decoration: none;
  text-align: center;
}

.card-text:hover {
  color: lightgray;
}

.card-img {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  height: 275px;
}

/* OTHER */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.line {
  height: 2px;
  background-color: black;
}
