/* NAVBAR */
.nbt-navbar-img {
  width: 53px;
  height: 45px;
  margin-right: 8px;
  margin-left: 10px;
}

.nbt-navbar-text:hover {
  color: rgb(187, 184, 184) !important;
}

.nbt-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-left: 240px;
  margin-right: 240px;
}

.nbt-header {
  text-align: center;
}

.nbt-welcome {
  font-size: 40pt;
  margin-bottom: 15px;
}

.black {
  background-color: black;
}

.line {
  height: 2px;
  width: 100%;
  margin-bottom: 45px;
  margin-top: 18px;
}

.nbt-ver-line {
  width: 2px;
  height: 40px;
  background-color: white;
  border-radius: 50px;
}
